@import url("https://fonts.googleapis.com/css?family=Montserrat");



body{
  background: #011627;
  border: 60px solid #2EC4B6;
  color: white;
  text-align: center;
  /* padding: 40px; */
  margin: 0px;
  border-top: 0px;
  font-family: "Montserrat";
}

h2{
  padding-left: 0px;
  padding-right: 0px;
}

p{
  font-family: "Montserrat";
  padding-top: 5%;
  padding-left: 20%;
  padding-right: 20%;
}

#input{
  font-size: 1.5em;
  margin-bottom: 10px;
}

#submit{
  border-radius: 25px;
  background: #FF9F1C;
  margin-bottom: 4px;
  height: 80px;
  width: 150px;
  font-size: 1.2em;
  font-family: "Montserrat";
}